main {
    padding: 50px 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    background-color: #EBEDEF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 0 auto;
    padding: 30px 0;
}

.profile-container {
    background-color: white;
    border-radius: 12px;
    padding: 30px 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-top {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.profile-name {
    margin-bottom: 20px;
}

.logout-btn {
    margin-bottom: 30px;
    font-size: 16px;
    padding: 4px 8px;
    color: gray;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: gray;
    color: white;
}

.logout-modal-btns-container {
    display: flex;
    justify-content: center;
}

.logout-btns {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.logout-btns button {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border: 2px solid #000004;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #fbfef9;
}

.logout-btns button:nth-child(1):hover {
    background-color: #000;
    color: white;
}

.logout-btns button:nth-child(2):hover {
    background-color: #ff2e1c;
    color: white;
}

.profile-top .bar {
    width: 100%;
    border: 2px solid black
}

.profile-main {
    margin: 30px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-course-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-courses {
    display: flex;
    flex-direction: column;
    background-color: #329F5b;
    border-radius: 12px;
    gap: 30px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-course h3 {
    font-size: 16px;
    font-weight: 400;
}

.profile-course button {
    font-size: 16px;
    padding: 4px 8px;
    color: gray;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.profile-course button:hover {
    background-color: gray;
    color: white;
}

.profile-course button:hover {
    background-color: #ff2e1c;
    color: white;
    border: 2px solid black;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-heading {
    font-size: 48px;
    color: #b2b2b2;
}

.profile-heading .bar {
    width: 30%;
    border: 2px solid #b2b2b2;
}

.name-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
}

.profile-bottom {
    display: flex;
    /* background-color: lightpink; */
    width: 80%;
}

.profile-bottom button {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    border: 2px solid #000004;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    color: #000;
    background-color: #fbfef9;
}

.profile-bottom button:hover {
    background-color: #FF9F1C;
    color: white;
}

.edit-modal {
    position: relative;
    padding: 50px 40px;
    border-radius: 12px;
    background-color: white;
}

.edit-form {
    background-color: white;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

.edit-form-container button {
    background-color: white;
    color: #000;
}

.edit-form-container button:hover {
    background-color: #FF9F1C;
    color: white;
}

.admin-profile-icon {
    width:100px;
    height: 100px;
    border-radius: 60px;
    border: 4px solid #0f3443;
    background: linear-gradient(180deg, #34e89e, #0f3443);
    margin-bottom: 20px;
}

.student-profile-icon {
    width:100px;
    height: 100px;
    border-radius: 60px;
    border: 4px solid #45b649;
    background: linear-gradient(180deg, #dce35b, #45b649);
    margin-bottom: 20px;
}